@model IEnumerable<CurrentTaskViewModel>
@{
    ViewData["Title"] = "Current tasks";
    var controller = "tasks";
    var action = "current-tasks";
}

<h1 class="float-left">@ViewBag.Member.Name's tasks</h1>

<table class="table table-bordered table-index">
    <thead>
        <tr>
            <th class="col-id">@Html.DisplayName("#")</th>
            <th class="min-130">@Html.DisplayName("Name")</th>
            <th class="col-short-date">@Html.DisplayName("Start date")</th>
            <th class="col-short-date">@Html.DisplayName("Deadline")</th>
            <th>@Html.DisplayName("Status")</th>
            @if (User.IsInRole("member"))
            {
                <th width="150px"></th>
            }
            @if (User.IsInRole("admin") || User.IsInRole("mentor"))
            {
                <th width="280px"></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="6" class="text-center">There aren't items.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.TaskId)</td>
                    <td class="text-left">@Html.ActionLink(item.Name, "Details", new { id = item.TaskId, back = controller, backAction = action })</td>
                    <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@item.DeadlineDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        @{
                            var statusColor = string.Empty;
                            switch (item.Status)
                            {
                                case "Active": statusColor = "text-info"; break;
                                case "Pause": statusColor = "text-warning"; break;
                                case "Success": statusColor = "text-success"; break;
                                default: statusColor = "text-danger"; break;
                            }
                        }
                        <span class="@statusColor">@Html.DisplayFor(i => item.Status)</span>
                    </td>
                    @if (User.IsInRole("member"))
                    {
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("New Track", "Create", "TaskTrack", new { userTaskId = item.UserTaskId, back = controller, backAction = action }, new { @class = "btn btn-primary" })
                            </div>
                        </td>
                    }
                    @if (User.IsInRole("admin") || User.IsInRole("mentor"))
                    {
                        <td>
                            <div class="btn-group btn-80">
                                <form asp-action="task-status" asp-controller="tasks" asp-antiforgery="true" asp-route-userId="@ViewBag.Member.UserId">
                                    @if (item.Status != "Active")
                                    {
                                        <button type="submit" name="status" value="1" class="btn btn-info">Active</button>
                                    }
                                    @if (item.Status != "Pause")
                                    {
                                        <button type="submit" name="status" value="2" class="btn btn-warning">Pause</button>
                                    }
                                    @if (item.Status != "Success")
                                    {
                                        <button type="submit" name="status" value="3" class="btn btn-success">Success</button>
                                    }
                                    @if (item.Status != "Fail")
                                    {
                                        <button type="submit" name="status" value="4" class="btn btn-danger last">Fail</button>
                                    }
                                    <input type="hidden" name="id" value="@item.UserTaskId" />
                                </form>
                            </div>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
