@model TaskWithMembersViewModel

@{
    ViewData["Title"] = "Edit #" + Model.TaskId;
}

<h1>Edit Task</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit" asp-controller="tasks" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(q => q.TaskId)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineDate" class="control-label"></label>
                <input asp-for="DeadlineDate" type="date" class="form-control" />
                <span asp-validation-for="DeadlineDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                <div class="form-control checkbox-list">
                    @for (var i = 0; i < Model.Members.Count; i++)
                    {
                        <div>
                            @Html.HiddenFor(model => model.Members[i].UserTaskId)
                            @Html.HiddenFor(model => model.Members[i].UserId)
                            @Html.HiddenFor(model => model.Members[i].FullName)
                            <label>
                                @Html.CheckBoxFor(model => model.Members[i].Selected)
                                @Html.DisplayTextFor(model => model.Members[i].FullName)
                            </label>
                        </div>
                    }
                </div>
                <span asp-validation-for="Members" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_BackToList", new BackToListViewModel { Controller = "tasks" })