@model IEnumerable<TaskViewModel>
@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<p class="float-lg-right">
    <a class="btn btn-primary" asp-action="create" asp-controller="tasks">Create</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Start date")
            </th>
            <th>
                @Html.DisplayName("Deadline")
            </th>
            <th width="300px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center">There aren't items.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.TaskId.ToString(), "Details", new { id = item.TaskId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.TaskId })
                    </td>
                    <td>
                        @Convert.ToDateTime(item.StartDate).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.DeadlineDate).ToString("MM/dd/yyyy")
                    </td>
                    <td align="center">
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.TaskId }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
