@model IEnumerable<TaskViewModel>
@{
    ViewData["Title"] = "Tasks";
    var createRouteData = new Dictionary<string, string>
    {
        { "BackController", ViewBag.Route.Controller }
    };
}

<h1 class="float-left">Tasks</h1>

<p class="float-lg-right btn-create">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Task" asp-all-route-data="@createRouteData">Create</a>
</p>

<table class="table table-bordered table-index">
    <thead>
        <tr>
            <th class="col-id">@Html.DisplayName("#")</th>
            <th>@Html.DisplayName("Name")</th>
            <th class="col-short-date">@Html.DisplayName("Start date")</th>
            <th class="col-short-date">@Html.DisplayName("Deadline")</th>
            <th width="200px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center">There aren't items.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.TaskId)</td>
                    <td class="text-left">@Html.ActionLink(item.Name, "Details", "Task", new Route() { TaskId = item.TaskId })</td>
                    <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@item.DeadlineDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <div class="btn-group btn-80">
                            @Html.ActionLink("Edit", "Edit", "Task", new Route() { TaskId = item.TaskId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", "Task", new Route() { TaskId = item.TaskId }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
