@model DIMS_Core.Models.TaskEditViewModel;
<form asp-action="CreateTask" asp-controller="TaskManager" method="post">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new task</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label>Name</label>
                    <input type="text" value="@Model.Name" asp-for="Name" />
                </div>
                <div>
                    <input type="hidden" asp-for="TaskId" />
                    <label>Description</label>
                    <input type="text" value="@Model.Description" asp-for="Description" />
                </div>
                <div>
                    <label>Start date</label>
                    <input type="date" value="@Model.StartDate" asp-for="StartDate" />
                    <label>Deadline</label>
                    <input type="date" value="@Model.DeadlineDate" asp-for="DeadlineDate" />
                </div>
                <div>
                    <label>Members</label>
                    <div>
                        @Html.ListBoxFor(m=>m.UsersAtTask, Model.AllMembers, "multiple")
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to grid</button>
        </div>
    </div>
</div>
</form>