@model DIMS_Core.BusinessLayer.Models.TaskManagerModels.TaskEditModel;
<form asp-action="EditTask" asp-controller="TaskManager" method="post">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Task - @Model.Name</h5>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" asp-for="TaskId" />
                    <label>Description</label>
                    <input type="text" value="@Model.Description" asp-for="Description" />
                </div>
                <div>
                    <label>Start date</label>
                    <input type="date" value="@Model.StartDate" asp-for="StartDate" />
                    <label>Deadline</label>
                    <input type="date" value="@Model.DeadlineDate" asp-for="DeadlineDate" />
                </div>
                <div>
                    <label>Members</label>
                    <div>
                        @Html.ListBox("AllMembers", new SelectList(Model.AllOtherUsers, "UserId", "FullName"))
                        @Html.ListBoxFor(m=>m.UsersAtTaskNow, new SelectList(Model.UsersAtTaskWas, "UserId", "FullName"))
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to grid</button>
            </div>
        </div>
    </div>
</form>