@model IEnumerable<MemberViewModel>
@{
    ViewData["Title"] = "Members";
    var controller = "members";
}

<h1 class="float-left">Members</h1>

<p class="float-lg-right btn-create">
    <a class="btn btn-primary" asp-action="create" asp-controller="@controller">Create</a>
</p>

<table class="table table-bordered table-index">
    <thead>
        <tr>
            <th class="col-id">@Html.DisplayName("#")</th>
            <th>@Html.DisplayName("Full name")</th>
            <th>@Html.DisplayNameFor(model => model.Direction)</th>
            <th>@Html.DisplayNameFor(model => model.Education)</th>
            <th class="col-short-date">@Html.DisplayName("Start")</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th width="300px">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="7" class="text-center">
                    <strong>There aren't members.</strong>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direction)</td>
                    <td>@Html.DisplayFor(modelItem => item.Education)</td>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>
                        <div class="btn-group container">
                            <div class="row">
                                <div class="col">
                                    @Html.ActionLink("Progress", "Progress", new {id = item.UserId}, new {@class = "btn btn-primary w-100 m-2"})
                                    @Html.ActionLink("Edit", "Edit", new {id = item.UserId}, new {@class = "btn btn-warning w-100 m-2"})
                                </div>
                                <div class="col">
                                    @Html.ActionLink("Tasks", "Tasks", new {id = item.UserId}, new {@class = "btn btn-primary w-100 m-2"})
                                    @Html.ActionLink("Delete", "Delete", new {id = item.UserId}, new {@class = "btn btn-danger w-100 m-2"})
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
