@model IEnumerable<ProgressModel>
@{
    ViewData["Title"] = @ViewBag.Member.Name + " " + @ViewBag.Member.LastName + "'s progress";
    var taskDetailsRoute = new Route()
    {
        BackAction = "progress",
        BackController = "members",
        UserId = ViewBag.Member.UserId
    };
    var tracksDetailsRoute = new Route()
    {
        BackAction = "progress",
        BackController = "members",
        UserId = ViewBag.Member.UserId
    };
}

<h1 class="float-left">@ViewBag.Member.Name @ViewBag.Member.LastName's progress</h1>

<p class="float-lg-right btn-create">
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Member">Back</a>
</p>

<table class="table table-bordered table-index">
    <thead>
        <tr>
            <th class="col-id">@Html.DisplayName("#")</th>
            <th>@Html.DisplayName("Task name")</th>
            <th>@Html.DisplayName("Track note")</th>
            <th class="col-short-date">@Html.DisplayName("Date")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is null || !Model.Any())
        {
            <tr>
                <td colspan="4" class="text-center">There aren't items.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                taskDetailsRoute.TaskId = item.TaskId;
                tracksDetailsRoute.TaskTrackId = item.TaskTrackId;
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TaskTrackId)</td>
                    <td class="text-left">@Html.ActionLink(item.TaskName,"Details","Task", taskDetailsRoute)</td>
                    <td class="text-left">@Html.ActionLink(item.TrackNote, "Details", "TaskTrack", tracksDetailsRoute)</td>
                    <td>@item.TrackDate.ToString("dd.MM.yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>
