@model VTaskTrackViewModel

@{
    ViewData["Title"] = "Delete task track #" + Model.TaskTrackId;
    var bottomButtons = new BottomButtonsViewModel()
    {
        Id = new IdWithName(Model.TaskTrackId, "TaskTrackId"),
        Controller = "task-tracks",
        BackAction = ViewBag.Route.BackAction,
        BackController = ViewBag.Route.BackController ?? "task-tracks"
    };
}

<h1>Delete task track</h1>

<div class="details">
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayName("Track id")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskTrackId)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Task")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskName)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Note")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TrackNote)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Date")</dt>
        <dd class="col-sm-10">@Model.TrackDate.ToString("dd.MM.yyyy")</dd>
    </dl>
</div>

<h3>Are you sure you want to delete this task track?</h3>

@await Html.PartialAsync("_BottomDelete", bottomButtons)