@model VTaskTrackViewModel

@{
    ViewData["Title"] = "Task track details #" + Model.TaskTrackId;
}

<h1>Task track details</h1>

<div class="details">
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayName("Track id")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskTrackId)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Task")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TaskName)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Note")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TrackNote)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Date")</dt>
        <dd class="col-sm-10">@Model.TrackDate.ToString("dd.MM.yyyy")</dd>
    </dl>
</div>

<div class="details-controls">
    @Html.ActionLink("Edit", "Edit", new
    {
        id = Model.TaskId,
        back = ViewBag.BackController ?? "task-tracks"
    }, new { @class = "btn btn-warning" })
    @await Html.PartialAsync("_BackToList", new BackToListViewModel
    {
        Controller = ViewBag.BackController ?? "task-tracks",
        Action = ViewBag.BackAction
    })
</div>