@model SampleViewModel

@{
    ViewData["Title"] = "Details";
    var bottomButtons = new BottomButtonsViewModel()
    {
        Id = new IdWithName(Model.SampleId, "SampleId"),
        Controller = "samples",
        BackAction = ViewBag.BackAction,
        BackController = ViewBag.BackController ??= "samples"
    };
}

<h1>Details</h1>

<div>
    <h4>SampleModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SampleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@await Html.PartialAsync("_BottomDetails", bottomButtons)